.exercise-switch {
    width: 100%;
    font-weight: 600;
    color: #111827;
    text-align: center;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #D1D5DB;
}

.exercise-switch.hidden {
    display: none;
    opacity: 0;

}
.exercise-switch:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(34, 197, 94, 0.5);
}