<form class="flex flex-row flex-wrap m-1 text-gray-900" #form="ngForm" (ngSubmit)="submitSet(form)">
    <div
        class="flex flex-row flex-wrap md:grid md:grid-cols-4 p-4 rounded-lg bg-gray-800 text-center  text-gray-100 gap-4">
        <div class="flex-1 md:flex-none">
            @if(first) {
            <label class="text-sm md:text-lg font-semibold">Set</label> }
            <h2 class="mt-2 text-lg md:text-xl">{{ idx + 1 }}</h2>
        </div>

        <div class="flex-1 md:flex-none">
            @if(first) {
            <h1 class="text-sm md:text-lg font-semibold">Reps</h1>
            }
            <input
                class="w-full font-semibold md:w-20  text-center pt-4 px-3 bg-transparent border-b-2 border-white border-solid  caret-white focus:outline-none focus:ring-2 focus:ring-green-500"
                type="number" name="reps" id="reps" placeholder="{{ set?.reps || 0 }}" (ngModelChange)="submitSet(form)"
                [(ngModel)]="repsInput" required />
        </div>
        <div class="flex-1 md:flex-none">
            @if(first) {
            <h1 class="text-sm md:text-lg font-semibold ">Weight</h1>
            }
            <input
                class="w-full text-center font-semibold md:w-20  pt-4 px-3  bg-transparent border-b-2 border-white border-solid  caret-white focus:outline-none focus:ring-2 focus:ring-green-500"
                type="number" 
                name="weight" 
                id="weight" 
                [(ngModel)]="weightInput" 
                placeholder="{{ set?.weight || 0 }}"
                (ngModelChange)="submitSet(form)" 
                required />
        </div>
        @if(first) {
        <button type="button" (click)="onDeleteSet()" class="mt-5 text-xl md:text-3xl font-bold p-0">
            &times;
        </button>
        } @else {
        <button type="button" (click)="onDeleteSet()" class="text-xl md:text-3xl font-bold">
            &times;
        </button>
        }
    </div>
</form>