<div
	class="login-form-wrapper flex justify-center items-center min-h-screen bg-dark text-gray-100 p-4">
	<form
		class="login-form bg-dark-blue p-8 rounded-lg shadow-md w-full max-w-md"
		#form="ngForm"
		(ngSubmit)="register(form)">
		<fieldset class="border-none">
			<h2 class="text-2xl font-bold mb-6 text-center">Register</h2>

			<div class="field field-icon mb-4 relative">
				<label
					for="email"
					class="absolute left-3 top-1/2 transform -translate-y-1/2">
					<span
						><i class="fas fa-envelope text-accent-green"></i
					></span>
				</label>
				<input
					class="w-full p-2.5 border border-gray-300 rounded-md pl-10 bg-gray-700 text-gray-100 focus:outline-none focus:ring-2 focus:ring-green-500"
					type="email"
					name="email"
					id="email"
					placeholder="john.doe@gmail.com"
                     autocomplete="email"
					ngModel
					#inputEmail="ngModel"
					required
					[ngClass]="{
			  'input-error': (inputEmail?.touched && inputEmail?.errors?.['required']) || 
							(inputEmail?.touched && inputEmail?.errors?.['emailValidator'])
			}" />
			</div>

			@if(inputEmail?.touched) {
			<div class="text-red-500 mt-2 text-sm">
				@if(inputEmail?.errors?.['required']) {
				<p>Email is required!</p>
				} @if(inputEmail?.errors?.['emailValidator']) {
				<p>Email is not valid!</p>
				}
			</div>
			}

			<div class="field field-icon mb-4 relative">
				<label
					for="password"
					class="absolute left-3 top-1/2 transform -translate-y-1/2">
					<span><i class="fas fa-lock text-accent-green"></i></span>
				</label>
				<input
					class="w-full p-2.5 border border-gray-300 rounded-md pl-10 bg-gray-700 text-gray-100 focus:outline-none focus:ring-2 focus:ring-green-500"
					type="password"
					name="password"
					id="password"
					placeholder="******"
                    autocomplete="new-password"
					ngModel
					#inputPassword="ngModel"
					minlength="6"
					required
					[ngClass]="{
			  'input-error': (inputPassword?.touched && inputPassword?.errors?.['required']) || 
							(inputPassword?.touched && inputPassword?.errors?.['minlength'])
			}" />
				@if(inputPassword?.touched) {
				<div class="text-red-500 mt-2 text-sm">
					@if(inputPassword?.errors?.['required']) {
					<p>Password is required!</p>
					} @if(inputPassword?.errors?.['minlength']) {
					<p>Password must be at least 6 characters!</p>
					}
				</div>
				}
			</div>

			<div class="field field-icon mt-4 mb-4 relative">
				<label
					for="rePassword"
					class="absolute left-3 top-1/2 transform -translate-y-1/2">
					<span><i class="fas fa-lock text-accent-green"></i></span>
				</label>
				<input
					class="w-full p-2.5 border border-gray-300 rounded-md pl-10 bg-gray-700 text-gray-100 focus:outline-none focus:ring-2 focus:ring-green-500"
					type="password"
					name="rePassword"
					id="rePassword"
					placeholder="******"
                    autocomplete="off"
					ngModel
					#inputRePassword="ngModel"
					minlength="6"
					required
					[ngClass]="{
			  'input-error': (inputRePassword?.touched && inputRePassword?.errors?.['required']) || 
							(inputRePassword?.touched && inputRePassword?.errors?.['minlength'])
			}" />
				@if(inputRePassword?.touched) {
				<div class="text-red-500 mt-2 text-sm">
					@if(inputRePassword?.errors?.['required']) {
					<p>Repeat password is required!</p>
					} @if(inputRePassword?.errors?.['minlength']) {
					<p>Repeat password must be at least 6 characters!</p>
					}
				</div>
				}
			</div>

			<button
				[disabled]="form.invalid"
				class="w-full py-3 mt-4 rounded bg-accent-green text-gray-900 font-bold hover:bg-green-600 disabled:bg-gray-400"
				[ngClass]="{ 'bg-gray-500': form.invalid }">
				Register
			</button>

			<p class="text-center mt-4">
				Have an account?
				<a routerLink="/login" class="text-accent-green">Login</a>
			</p>
		</fieldset>
	</form>
</div>
