<!-- <div
	class="flex justify-center items-center outline-black outline-10 mb-2.5 mt-2.5">
	<div class="bg-accent-green rounded-lg shadow-md {{ class }}">
		<div
			class="m-4 flex flex-row text-center text-lg text-gray-900 justify-center">
			<h1 class="text-xl font-bold ml-2.5 text-gray-900">
				{{ exercise?.name }}
			</h1>
		</div>
	</div>
</div> -->
<div class="flex justify-center items-center outline-black outline-10 my-1.5">
    <div class="bg-accent-green rounded-lg shadow-md {{ class }}">
        <div class="p-3 flex flex-row justify-between text-lg text-gray-900">
            <div>{{exercise?.name}}</div>
            <div>({{exercise?.sets?.length != 1 
                ?exercise?.sets?.length + " sets"
                :exercise?.sets?.length + " set"
            }})</div>
        </div>
    </div>
</div>