<form
	class="flex flex-row flex-wrap m-1 text-slate-950"
	#form="ngForm"
	(ngSubmit)="submitSet(form)">
	<div
		class="flex flex-row flex-wrap md:grid md:grid-cols-6 p-4 rounded-lg bg-medium-grey text-center shadow-md text-slate-50 gap-4">
		<div class="flex-1 md:flex-none">
			@if(first) {
			<label class="text-sm md:text-lg font-semibold">Set</label> }
			<h2 class="mt-2 text-lg md:text-xl">{{ idx + 1 }}</h2>
		</div>
		<div class="flex-[2] md:col-span-2">
			@if(first) {
			<h1 class="text-sm md:text-lg font-semibold">Exercise</h1>
			} @if(first) {
			<input
				class="w-full text-slate-950 text-center py-2 px-3 rounded-lg border border-slate-300 focus:outline-none focus:ring-2 focus:ring-accent-green"
				name="exercise"
				type="text"
				id="exercise"
				placeholder="Bench Press"
				[(ngModel)]="exerciseName"
				(ngModelChange)="submitSet(form)" />
			} @else {
			<input
				class="w-full text-slate-950 text-center py-2 px-3 rounded-lg border border-slate-300 focus:outline-none focus:ring-2 focus:ring-accent-green invisible" />
			}
		</div>
		<div class="flex-1 md:flex-none">
			@if(first) {
			<h1 class="text-sm md:text-lg font-semibold">Reps</h1>
			}
			<input
				class="w-full md:w-20 text-slate-950 text-center py-2 px-3 rounded-lg border border-slate-300 focus:outline-none focus:ring-2 focus:ring-accent-green"
				type="number"
				name="reps"
				id="reps"
				placeholder="{{ set?.reps || 0 }}"
				(ngModelChange)="submitSet(form)"
				[(ngModel)]="repsInput"
				required />
		</div>
		<div class="flex-1 md:flex-none">
			@if(first) {
			<h1 class="text-sm md:text-lg font-semibold">Weight</h1>
			}
			<input
				class="w-full md:w-20 text-slate-950 text-center py-2 px-3 rounded-lg border border-slate-300 focus:outline-none focus:ring-2 focus:ring-accent-green"
				type="number"
				name="weight"
				id="weight"
				[(ngModel)]="weightInput"
				placeholder="{{ set?.weight || 0 }}"
				(ngModelChange)="submitSet(form)"
				required />
		</div>
		@if(first){
		<button
			type="button"
			(click)="onDeleteSet()"
			class="mt-5 text-xl md:text-3xl font-bold p-0">
			&times;
		</button>
		} @else {
		<button
			type="button"
			(click)="onDeleteSet()"
			class="text-xl md:text-3xl font-bold">
			&times;
		</button>
		}
	</div>
</form>
