<div class="flex justify-center items-center min-h-screen p-4">
	<div class="text-center bg-dark-blue p-6 rounded-lg max-w-2xl">
		<form
			class="register-form text-gray-100"
			#form="ngForm"
			(ngSubmit)="create()">
			<fieldset>
				<h2 class="text-3xl font-extrabold mb-4 text-gray-100">
					Workout
				</h2>
				<div class="flex flex-col mb-6 justify-center items-center">
					<label class="text-gray-100 text-lg font-semibold"
						>Exercise Title</label
					>
					<input
						class="w-1/2 py-3 px-4 text-center rounded-lg text-gray-900 font-bold bg-gray-200 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-500"
						(ngModelChange)="submitName(form)"
						type="text"
						name="title"
						id="title"
						[(ngModel)]="this.workoutObj.title"
						placeholder="Morning Workout" />
				</div>

				@for(exercise of workoutObj.exercises; track $index) {
				<app-create-exercise
					[name]="workoutObj.exercises[$index].name"
					[addExercise]="addExercise"
					[last]="$index === workoutObj.exercises.length - 1"
					[exercise]="workoutObj.exercises[$index]"
					[indx]="$index"
					(setChange)="handleExerciseChange($event, $index)"
					[deleteExercise]="deleteExercise"></app-create-exercise>
				}

				<button
					[disabled]="form.invalid"
					class="m-2 h-12 px-6 rounded-lg bg-accent-green text-black font-extrabold hover:bg-green-600 transition duration-200 ease-in-out">
					END WORKOUT
				</button>
			</fieldset>
		</form>

		<a
			class="m-2 text-gray-100 font-bold py-2 px-4 rounded-lg hover:bg-green-600 transition duration-200 ease-in-out"
			routerLink="/">
			Close
		</a>
	</div>
</div>
