<div
	class="flex justify-center items-center box-border outline-black outline-10 mb-2.5 mt-2.5">
	<div class="card w-full max-w-xl bg-light-grey rounded-lg shadow-md">
		<div class="card-content p-4 text-light">
			<div class="card-user flex flex-col md:flex-row items-center mb-4">
				<img
					src="https://via.placeholder.com/120"
					alt="Profile Photo"
					class="w-12 h-12 mr-3 rounded-full object-cover border-2 border-[#333333]" />
				<h1 class="font-bold text-2xl text-light md:mr-4 mb-2 md:mb-0">
					{{ ownerUsername ? ownerUsername : 'User Not Found' }}
				</h1>
			</div>
			<div class="card-description mb-4">
				<p>{{ workout?.title }}</p>
			</div>
			@for(exercise of workout?.exercises; track $index) {
			<app-exercise-card
				[exercise]="exercise"
				[class]="class"></app-exercise-card>
			@for(set of exercise.sets; track $index) {
			<div
				class="grid grid-cols-3 gap-4 p-4 rounded-lg shadow-md text-center bg-medium-grey text-light mb-2.5">
				<div>
					@if($index == 0) {
					<h1 class="text-lg font-semibold text-accent-green">Set</h1>
					}
					<p>{{ $index + 1 }}</p>
				</div>
				<div>
					@if($index == 0) {
					<h1 class="text-lg font-semibold text-accent-green">
						Reps
					</h1>
					}
					<p>{{ set.reps }}</p>
				</div>
				<div>
					@if($index == 0) {
					<h1 class="text-lg font-semibold text-accent-green">
						Weight
					</h1>
					}
					<p>{{ set.weight }}</p>
				</div>
			</div>
			} }
		</div>
	</div>
</div>
