.navbar {
	background-color: #333;
	padding: 1rem;
}

.nav-links {
	list-style-type: none;
	display: flex;
	justify-content: center;
	gap: 20px;
}

.nav-item {
	text-decoration: none;
	color: white;
	font-size: 1.2rem;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

.nav-item:hover {
	background-color: #555;
}
