<div class="text-center flex flex-row justify-center items-center">
	<img
		src="//icons.veryicon.com/png/o/miscellaneous/youyinzhibo/guest.png"
		alt="guest Icon" />
	<div class="flex-col">
		<h1 class="text-5xl md:text-7xl m-10 font-extrabold text-slate-50">
			Username
		</h1>

		<h1 class="text-3xl md:text-5xl m-10 font-extrabold text-slate-50">
			{{ user?.email }}
		</h1>
	</div>
</div>
<div class="text-center flex flex-col justify-center items-center">
	<h2 class="text-3xl md:text-5xl m-10 font-extrabold text-slate-50">
		Workouts
	</h2>
</div>
